<h2> Olá, {{{name}}}! </h2>
<p> Um usuário no BrasilCertec acabou de ser cadastrado nesse e-mail. </p>
<p> Precisamos verificar seu e-mail. Para verificar, <a href="http://localhost:3333/token/verify?t={{{token}}}"> clique aqui. </a>
<p> Caso não reconheça essa ação, <a href="http://localhost:3333/token/unknown?t={{{token}}}"> clique aqui. </a>